@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

.font-bodoni {
  font-family: 'Bodoni Moda', serif;
}

/* Apply to the root elements to hide the main browser scrollbar */
html,
body {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Optional: Enforce strictly consistent scrolling behavior */
html {
  scroll-behavior: smooth;
  /* Matches the "Slow, confident" feel */
}

/* Hides the scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides the scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.playfair-display {
  font-family: "Playfair", serif;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}