# env files (can opt-in for committing if needed)
.env*

# Modules from frontend
/client/node_modules/
/server/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db